<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <script src="https://unpkg.com/axios@1.6.7"></script>
    <title>AI marketing planner</title>
</head>
<body>
    <header class="menu">
        <h1>Getting Started</h1>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="workout-planner" class="current">Generator</a></li> 
            <li><a href="about.html">About</a></li> 
            <li><a href="sub.html">Pricing</a></li>
        </ul>
    </header>
    <div class="desc">
        <p>Embark on a transformative voyage with AI as your compass, navigating the sea of health. You should never be satisfied with how you are. I'm not saying that you should hate yourself or that theres something wrong with you. You should always strive to be a better
            version of yourself. You can always be a better you and have a better life thats a lot more fun to live, and nice to look back on.
        </p>
        <h3>Let's start by looking at you   .</h3>
        <p>Kindly provide the following:</p>
        <label>Age: <input id="age" placeholder=""></label><br/>
        <label>Fitness level: <input id="fitness level"></label>        <label>Deadline   <input id="deadline" type="date"></label><br/>
        <label>Amount of activity per week: <input id="fitness level"></label>  s
        <label>Goal   <input id="goal"></label><br/>
        <label>Additional factors<input placeholder="previously dislocated shoulder" id="injuries/info"></label><br />
        <button id="setSail">Set Sail!</button>
        <p id="plan"></p>
    </div>
    <script src="app.js" type="module"></script>
</body>
</html>